<h4>Merge Articles</h4>
<%= form_tag("/admin/content/merge/#{@article.id}", method: "post") do %>
  <%= label_tag(:article_id, "Article ID ") %>
  <%= text_field_tag(:merge_with) %>
  <%= submit_tag("Merge") %>
<% end %>
